<body>
  <div class="container view-con">
    <h1 class="center">Menu</h1>

    <a href="#" routerLink="/product/index" class="btn btn-primary">Back</a>

    <div>
      <strong>ID:</strong>
      <p>{{ category.id }}</p>
    </div>

    <div>
      <strong>Name:</strong>
      <p>{{ category.name }}</p>
    </div>

    <div>
      <strong>Type:</strong>
      <p>{{ category.type }}</p>
    </div>

    <div>
      <strong>Size:</strong>
      <p>{{ category.size }}</p>
    </div>

    <div>
      <strong>Price:</strong>
      <p>{{ category.price }}</p>
    </div>

    <!-- <div>
        <strong>Image:</strong>
        <p>{{ category.image }}</p>
    </div> -->

    <!-- <div>
        <strong>Description:</strong>
        <p>{{ category.description }}</p>
    </div> -->
  </div>
</body>
